<style>
    @font-face{}
    @font-face{
      font-family:"華康翩翩體";
      src:url(華康翩翩體.otf);
    }
    @font-face{
      font-family:"BernardoModaBold";
      src:url(BernardoModaBold.ttf);
    }


    body{
      background-color: #fffafa;
      font-family:微软雅黑;
    }
    a{color: #666666;}
    a:hover{color: #f08080;}


/*/////////////////////////////*/

    .nav-logoword{
      font-family: BernardoModaBold;
      font-weight: bold;
      font-size: 40px;
    }
    .nav-logoword2{
      cursor: default;
      font-family: 微软雅黑;
      text-indent: 120px;
      font-size: 20px;
    }
    .字pic{
      width: 180px;
      height: 78px;
      margin: -55px 0px 0px 0px;
    }
    @media all and (max-width:500px) {
      .aaaa { display: none; }
    }
    .navhr{
      width: 100%;
      background-color:lightgray;
    }

  /*footer*/
    .footerhr{
      height: 1px;
      width: 100%;
      background-color:black;
      margin-top: 100px;
    }

    .word1{
      cursor: default;
      font-family: BernardoModaBold;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
    }
    .word2{
      cursor: default;
      text-align: center;
      font-size: 12px;
    }
    .size{ font-size:24px;}
    .copyright{
      cursor: default;
      text-align: center;
      font-size: 13px;
    }
/*//////////////////上面都不要動/////////////////////////*/

    table{ 
      text-align: center;
      margin: 100px 0px;
    }
    h3{ 
      margin-bottom: 30px;
      font-weight: bolder;
    }
    .回登入{
      margin-top: 10px;
      text-decoration:underline;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    .form-control{
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      height: 35px;
    }

    /*照片*/
    @media all and (max-width:770px) {
      .hideme { display: none; }
    }
    .hideme{
      width: 350px;
      height: 436px;
      border: 3px solid #D9D9D9;
      animation: round 3s ease-in-out 1;
    }
    @keyframes round {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        /*  淡入*/
    }
    65% {
        opacity: 1;
        filter: alpha(opacity=100);
        /*  淡出*/
    }
  }
    
</style>